*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/plugin/build/
/repo/
/plugin_agp_v86/build/
/plugin_agp_v74/build/
/plugin_agp_v87/build/
/plugin_common/build/
/plugin_main/build/
